#buttAdd{
    width: 45px;
    height: 30px;
    border: 1px solid rgb(200, 190, 255);
    border-radius: 30px;
    cursor: pointer;
    margin-top: 15%;
    
    margin-left: 20%;      

}
#botaoSave{
    width: 45px;
    height: 25px;
    border: 1px solid rgb(200, 190, 255);
    border-radius: 30px;
    cursor: pointer;
      
    margin-left: 5%; 
    display: none;
    margin-top: 1%;
}
#clear{
    width: 80px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;  
    margin-left: 5%; 
    display: none;
    margin-top: 1%;
}
#clear:hover{
    background-color: rgb(194, 7, 7);
    color: white;
}
#botaoLixo{
    width: 40px;
    height: 25px;
    border: 1px solid rgb(200, 190, 255);
    border-radius: 30px;
    cursor: pointer;
    
}
#botaoLixo:hover{
    background-color: rgb(194, 7, 7);
    color: white;
}
#botaoEdit{
    width: 40px;
    height: 25px;
    border: 1px solid rgb(200, 190, 255);
    border-radius: 30px;
    cursor: pointer;
    
}
.card{
    margin: auto;
    padding: 2%;
    border: 2px solid rgb(200, 190, 255);
    margin-top: 7%;
    width: 800px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgb(200, 190, 255);
    text-align: center;
      
}
.card:hover{
    background-color: rgba(200, 190, 255, 0.158);
}
ion-icon:hover{
    background-color: rgba(200, 190, 255, 0.788);
}
#cardInside{
    display: flex;
    justify-content: center;          
 }
 #nome{
    padding: 2%;
    border: 2px solid rgb(200, 190, 255);
    border-radius: 20px;
    width: 350px;
    outline: none;
    
}
#conteudo{
    width: 75%;
    margin-top: 2%;
    margin-left: 15%;
    
}